@model AccountDetailsViewModel

<section class="address-info">
    <form method="POST" asp-controller="Account" asp-action="Details" novalidate class="address-form-info">
        <h5 class="theme">Address info</h5>

        <div class="content">
            <div id="form-address-line_1">
                <label asp-for="AddressInfo!.AddressLine_1"></label>
                <span asp-validation-for="AddressInfo!.AddressLine_1"></span>
                <input asp-for="AddressInfo!.AddressLine_1" />
            </div>

            <div id="form-address-line_2">
                <label asp-for="AddressInfo!.AddressLine_2">Address line 2 <p class="optional">(optional)</p> </label>
                <input asp-for="AddressInfo!.AddressLine_2" />
            </div>

            <div id="form-postal-code">
                <label asp-for="AddressInfo!.PostalCode"></label>
                <span asp-validation-for="AddressInfo!.PostalCode"></span>
                <input asp-for="AddressInfo!.PostalCode" />
            </div>

            <div id="form-city">
                <label asp-for="AddressInfo!.City"></label>
                <span asp-validation-for="AddressInfo!.City"></span>
                <input asp-for="AddressInfo!.City" />
            </div>

            <div class="form-buttons">
                <button class="btn-gray" type="reset" onclick="location.reload();">Cancel</button>
                <button class="btn-theme" type="submit">Save Changes</button>
            </div>
        </div>
    </form>
</section>
