@model SecurityViewModel

<form class="change-password-form" asp-controller="Account" asp-action="Security" method="POST" novalidate>
    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
    {
        <div class="alerts alert-danger">
            @ViewData["ErrorMessage"]
        </div>
    }
    @if (!string.IsNullOrEmpty(ViewData["Message"]?.ToString()))
    {
        <div class="alerts alert-success">
            @ViewData["Message"]
        </div>
    }
    <div class="change-password-form-content">
        <div class="current-password" id="current-password">
            <label asp-for="Form!.CurrentPassword"></label>
            <span asp-validation-for="Form!.CurrentPassword"></span>
            @if (Model.ProfileInfo.IsExternalAccount)
            {
                <input asp-for="Form!.CurrentPassword" class="form-input" type="password" disabled />
            }
            else
            {
                <input asp-for="Form!.CurrentPassword" class="form-input" type="password" />
            }
        </div>

        <div class="new-password" id="new-password">
            <label asp-for="Form!.NewPassword"></label>
            <span asp-validation-for="Form!.NewPassword"></span>
            @if (Model.ProfileInfo.IsExternalAccount)
            {
                <input asp-for="Form!.NewPassword" class="form-input" type="password" disabled />
            }
            else
            {
                <input asp-for="Form!.NewPassword" class="form-input" type="password" />
            }
        </div>

        <div class="confirm-password" id="confirm-password">
            <label asp-for="Form!.ConfirmPassword">Confirm password</label>
            <span asp-validation-for="Form!.ConfirmPassword"></span>
            @if (Model.ProfileInfo.IsExternalAccount)
            {
                <input asp-for="Form!.ConfirmPassword" class="form-input" type="password" disabled />
            }
            else
            {
                <input asp-for="Form!.ConfirmPassword" class="form-input" type="password" />
            }
        </div>
    </div>

    <div class="buttons" id="buttons">
        @if(Model.ProfileInfo.IsExternalAccount)
        {
            <button class="btn-disabled" disabled>Cancel</button>
            <button class="btn-disabled" disabled>Change password</button>
        }
        else
        {
            <button class="btn-gray" type="button" onclick="location.reload();">Cancel</button>
            <button class="btn-theme" type="submit">Change password</button>
        }
    </div>
</form>
