@model SecurityViewModel
@{
}


<form class="change-password-form" asp-controller="Account" asp-action="Security" method="POST" novalidate>

@*     @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
    {
        <div class="alerts">
            @ViewData["ErrorMessage"]
        </div>
    } *@
    <div class="change-password-form-content">

        <div class="current-password" id="current-password">
            <label asp-for="Form.CurrentPassword"></label>
            <span asp-validation-for="Form.CurrentPassword"></span>
            <input asp-for="Form.CurrentPassword" class="form-input" type="password" />
        </div>

        <div class="new-password" id="new-password">
            <label asp-for="Form.NewPassword"></label>
            <span asp-validation-for="Form.NewPassword"></span>
            <input asp-for="Form.NewPassword" class="form-input" type="password" />
        </div>

        <div class="confirm-password" id="confirm-password">
            <label asp-for="Form.ConfirmPassword">Confirm password</label>
            <span asp-validation-for="Form.ConfirmPassword"></span>
            <input asp-for="Form.ConfirmPassword" class="form-input" type="password" />
        </div>
    </div>

        <div class="buttons" id="buttons">
            <button class="btn-gray" type="button" onclick="location.reload();">Cancel</button>
            <button class="btn-theme" type="submit">Change password</button>
        </div>
</form>

<hr />

<div class="delete-account">
    <h5>Delete account</h5>
    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
    <form class="delete-account-form" asp-controller="Account" asp-action="DeleteAccount" method="POST" novalidate>
        <div class="checkbox" id="checkbox">
            <input asp-for="@Model.DeleteAccount.ConfirmDeleteAccount" class="form-input" type="checkbox" />
            <label asp-for="@Model.DeleteAccount.ConfirmDeleteAccount">Yes, I want to delete my account.</label>
            <span asp-validation-for="@Model.DeleteAccount.ConfirmDeleteAccount"></span>
        </div>
        <button type="submit" class="alert-danger">Delete</button>
    </form>
</div>
@* @await Html.PartialAsync("~/Views/Shared/_ValidationScriptPartial.cshtml") *@

