@model AccountDetailsViewModel
@{
    ViewData["Title"] = $"{Model.ProfileInfo!.FirstName} {Model.ProfileInfo.LastName}'s details";
}

<div class="account-details-section">
    <div class="container">
        @await Html.PartialAsync("~/Views/Account/Sections/_ProfileInfoPartial.cshtml", Model.ProfileInfo)

        @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
        {
            <div class="alerts alert-danger-dark">
                @ViewData["ErrorMessage"]
            </div>
        }

        <div class="account-details">
            @await Html.PartialAsync("~/Views/Account/Sections/_BasicInfoPartial.cshtml")

            <hr />

            @await Html.PartialAsync("~/Views/Account/Sections/_AddressInfoPartial.cshtml")
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_ValidationScriptPartial.cshtml")