@model DownloadOurAppViewModel

<section id="@Model.Id" class="download">
    <div class="container">
        <div class="app-img-container">
            <img class="app-img" src="./images/home/download-app/download.svg" />
        </div>
        <div class="downloads">
            <h2>@Model.Title</h2>
            <div class="content">
                <div class="app-store">
                    <div class="app-store-content">
                        <p>App Store</p>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h5>Editor's Choice</h5>
                        <p class="rating">rating 4.7, 187K+ reviews</p>
                    </div>

                    <div class="img-container">
                        <a href="#">
                            <img src="./images/home/download-app/appstore.svg" />
                        </a>
                    </div>
                </div>

                <div class="google-play">
                    <div class="google-play-content">
                        <p>Google Play</p>
                        <div class="stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <h5>App of the Day</h5>
                        <p class="rating">rating 4.8, 30K+ reviews</p>
                    </div>

                    <div class="img-container">
                        <a href="#">
                            <img src="./images/home/download-app/googleplay.svg" />
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>