@model ManageYourWorkViewModel


<section id="@Model.Id" class="manage-work">
    <div class="container">
        <img src="~/images/home/manage-work/manage-your-work-img.svg" />

        <div class="content">
            <h3>@Model.Title</h3>
            <p>
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                Powerful project management
            </p>
            <p>
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                Transparent work management
            </p>
            <p>
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                Manage work & focus on the most important tasks
            </p>
            <p>
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                Track your progress with interactive charts
            </p>
            <p>
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                Easiest way to track time spent on tasks
            </p>
            <a href="#" class="btn-theme">Learn more <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
        </div>

    </div>
</section>