aside {
    color: var(--color-gray-900);

    @include lg {
        border-right: solid var(--color-gray-300) 1px;
        padding: 1rem;
    }


    .profile-info {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;

        .img-container {
            position: relative;

            .profile-img {
            }

            .no-profile-img {
                width: 120px;
                height: 120px;
                margin: 0;
                padding: 0;
                border: solid var(--color-gray-500) 1px;
                border-radius: 50%;
            }

            .img-icon {
                position: absolute;
                top: 5.2rem;
                left: 6.9rem;

                @include xl {
                    left: 8.8rem;
                }

                @include xxl {
                    left: 9.5rem;
                }
            }
        }

        h5 {
            margin-top: 1rem;
        }

        p {
            /*@include text-s;*/
            margin-bottom: 3rem;
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: left;

            .btn-theme-s {
                @include lg {
                    padding-right: 5rem;
                }

                @include xl {
                    padding-right: 6rem;
                }

                @include xxl {
                    padding-right: 7rem;
                    padding-left: 2rem;
                }
            }

            .btn-transparent {
                color: var(--color-gray-800);
                font-weight: 700;
                margin-left: 1.3rem;

                @include xxl {
                    margin-left: 1.6rem;
                }

                .rotate {
                    transform: rotateY(180deg);
                }

                i {
                    color: var(--color-gray-600);
                    margin: 0 .4rem;
                }
            }
        }
    }
}
