
.account-security-section {
    color: var(--color-gray-900);

    .container {
        .security-content {
            /*@import "_account-details-aside.scss";*/

            aside {
                .profile-info {
                    .img-container {
                        /*border: solid red 1px;*/
                        position: relative;

                        .no-profile-img, .profile-img {
                            width: 150px;
                            height: 150px;
                            margin: 0;
                            padding: 0;
                            border: solid var(--color-gray-500) 1px;
                            border-radius: 50%;
                        }

                        label {
                            position: absolute;
                            right: 10%;
                            bottom: 0%;

                            @include lg {
                                right: 15%;
                            }

                            @include xl {
                                right: 18%;
                            }

                            @include xxl {
                                right: 20%;
                            }
                        }
                    }

                    h5 {
                    }
                }
            }




            @include lg {
                display: flex;
                gap: 5rem;
            }

            .form-content {
                margin-top: 3rem;

                .headers {
                    h4 {
                    }

                    h6 {
                        color: var(--color-theme);
                    }
                }

                .change-password-form {
                    .change-password-form-content {
                        display: grid;
                        gap: 1rem;
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "current-password current-password" "new-password confirm-password";

                        #current-password, #new-password, #confirm-password {
                            display: grid;
                            position: relative;

                            label {
                                font-weight: 800;
                            }

                            span {
                                position: absolute;
                                top: 0;
                                right: 0;
                            }

                            input {
                                padding: .3rem;
                                border-radius: .5rem;
                                border: solid var(--color-gray-300);
                                padding-left: .8rem;
                                background-color: var(--color-gray-000);
                                color: var(--color-gray-900);


                                &::placeholder {
                                }
                            }
                        }

                        #current-password {
                            width: 48%;
                            grid-area: current-password;

                            label {
                            }

                            span {
                            }

                            input {
                            }
                        }

                        #new-password {
                            grid-area: new-password;

                            label {
                            }

                            span {
                            }

                            input {
                            }
                        }

                        #confirm-password {
                            grid-area: confirm-password;

                            label {
                            }

                            span {
                            }

                            input {
                            }
                        }
                    }

                    .buttons {
                        margin: 2rem 0;
                        display: flex;
                        gap: 1rem;
                    }
                }
            }

            hr {
                color: var(--color-gray-500);
            }

            .delete-account {
                h5 {
                    margin-top: 2rem;
                    color: var(--color-theme);
                }

                p {
                    @include text-s;
                }

                .delete-account-form {
                    /*border: solid red 1px;*/
                    position: relative;

                    .checkbox {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        input {
                        }

                        span {
                            position: absolute;
                            /*display: none;*/
                        }

                        p {
                            margin: 0;
                        }
                    }

                    .delete-btn {
                        margin-top: 1rem;
                        border: solid var(--color-danger-dark) 1px;
                        width: 20%;
                        padding: .7rem;
                        border-radius: .5rem;
                        background: var(--color-danger-dark);
                        color: var(--color-gray-000);
                        margin-bottom: 2rem;

                        &:hover {
                            transition: ease-in-out .3s;
                            background-color: var(--color-gray-400);
                            border: solid var(--color-gray-400) 1px;
                            color: var(--color-gray-900);
                        }

                        @include lg {
                            width: 13%;
                        }
                    }
                }
            }
        }
    }
}
