.contact-us {
    color: var(--color-gray-900);
    background: var(--color-gray-100);


    .container {
        padding: 1rem;

        @include xl {
            padding: 2rem;
        }

        .contact-us-content {
            display: flex;
            flex-direction: column;


            .mini-menu {
                display: flex;
                gap: .8rem;

                @include xl {
                    margin-left: 3rem;
                }

                .home {
                    color: var(--color-gray-500);

                    i {
                        margin-right: .2rem;
                    }
                }

                p {
                    color: var(--color-gray-500);
                    font-size: .5rem;
                }

                a {
                    color: var(--color-theme);
                }
            }

            h1 {
                @include xl {
                    margin-left: 3rem;
                    margin-bottom: 2rem;
                }
            }

            .contact-info {
                display: flex;
                gap: 2.5rem;
                margin-bottom: 2rem;
                position: relative;

                @include lg {
                    flex-direction: column;
                    width: 65%;
                }

                @include xl {
                    margin-left: 3rem;
                }

                .email-us, .career {
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    @include md {
                        width: 60%;
                    }

                    @include lg {
                        width: 50%;
                    }

                    @include xl {
                        width: 45%;
                    }

                    @include xxl {
                        width: 40%;
                    }

                    .fa-users-medical, .fa-envelope {
                        border: solid var(--color-gray-000) 1px;
                        border-radius: 50%;
                        padding: .8rem;
                        background: var(--color-gray-000);
                        color: var(--color-theme);

                        @include lg {
                            font-size: 1.3rem;
                        }
                    }

                    .leave-a-message, .send-application {
                        color: var(--color-theme);
                        font-weight: 600;

                        i {
                            margin-left: .5rem;
                            transform: rotate(90deg);

                            @include lg {
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }
        }

        .form-container {
            background: var(--color-gray-000);
            padding: 2rem;
            box-shadow: 5px 10px 18px var(--color-gray-500);

            @include md {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                width: 80%;
            }



            @include lg {
                width: 50%;
                position: absolute;
                top: 20%;
                right: 5%;
            }

            @include xl {
                width: 40%;
                right: 7%;
                padding: 3rem;

                @include xxl {
                    width: 40%;
                    right: 10%;
                    padding: 3rem;
                }
            }

            h2 {
                margin-left: .5rem;
                color: var(--color-gray-800);
            }

            .alert-success {
                background: var(--color-success);
            }

            #contact-form {
                .form-name, .form-email, .drop-down, .form-message-us {
                    display: flex;
                    flex-direction: column;
                    padding: .7rem;

                    input, textarea, select, option {
                        border-radius: .5rem;
                        border: solid var(--color-gray-300) 1px;
                        padding-left: 1rem;
                        padding: .5rem;
                        background: var(--color-gray-000);
                        color: var(--color-gray-900);


                        &::placeholder {
                            color: var(--color-gray-300);
                        }
                    }

                    span {
                        color: var(--color-danger-dark);
                        font-size: 1rem;
                    }

                    label {
                        color: var(--color-gray-800);
                        font-weight: 700;
                    }
                }

                .form-name, .form-email {
                    position: relative;

                    span {
                        position: absolute;
                        top: 12%;
                        right: 3%;
                        color: var(--color-danger-dark);
                        padding: .2rem;
                        border-radius: .3rem;
                    }
                }

                .drop-down {
                    label {
                        display: flex;
                        gap: .3rem;
                        margin-bottom: -.8rem;

                        .optional {
                            color: var(--color-gray-300);
                        }
                    }

                    .select-wrapper {
                        position: relative;

                        select {
                            color: var(--color-gray-300);
                        }

                        .arrow {
                            display: none;

                            @media(min-width:450px) {
                                display: block;
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                color: var(--color-gray-900);
                            }
                        }
                    }
                }

                .form-message-us {
                    position: relative;

                    textarea {
                        @include md {
                            margin-bottom: 1rem;
                        }
                    }

                    span {
                        position: absolute;
                        top: 4%;
                        right: 3%;
                        color: var(--color-danger-dark);
                        padding: .2rem;
                        border-radius: .3rem;
                    }
                }

                button {
                    width: 95%;
                    margin: 0 auto;

                    @include md {
                    }

                    @include lg {
                        width: 50%;
                        margin-left: .5rem;
                    }

                    @include xl {
                        width: 55%;
                        margin-left: .5rem;
                    }

                    @include xxl {
                        width: 45%;
                    }
                }
            }
        }
    }

    .google-maps {
        display: relative;

        iframe {
            width: 100%;
        }
    }
}
