@model CoursesIndexViewModel
@{
    ViewData["Title"] = "Courses";
}
<section id="courses" class="courses">
    <div class="container">

        @await Html.PartialAsync("~/Views/Courses/Sections/_CoursesPartial.cshtml")

        <div class="banner">
            <img src="./images/courses/banner.svg" />
            <div class="skills">
                <p class="text-m">Ready to get started?</p>
                <p class="h4">Take Your <span>Skills</span> to the Next Level</p>
                <button class="btn-theme">Work with us</a>
            </div>
        </div>
    </div>
</section>