header {
    color: var(--color-gray-900);

    .container {
        display: grid;
        padding: 1.5rem;
        grid-template-columns: 1fr auto;

        @include lg {
            grid-template-columns: auto 1fr auto auto;
            align-content: center;
            align-items: center;
            gap: 2rem;
        }

        #menu {
            @include lg {
                display: flex;
            }

            .nav {
                @include lg {
                    gap: 1rem;
                }

                .menu-link {
                    @include lg {
                    }
                }
            }
        }

        .btn-switch {
            @include lg {
                display: block;
            }
        }

        #account-buttons {
            margin: 0 auto;


            @include lg {
                display: flex;
                gap: 1rem;
            }

            a {
                display: flex;
                margin-left: 4.5rem;

                @include lg {
                    margin-left: 0;
                }

                img {
                    width: 50px;
                    height: 50px;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    border: solid var(--color-gray-500) 1px;
                    border-radius: 50%;
                }
            }
        }

        .btn-mobile {
            border: none;
            background-color: transparent;


            @include lg {
                display: none;
            }

            i {
                color: var(--color-gray-900);
            }
        }
    }
}

.hide {
    display: none;
}

.toggle-mobile-menu {
    grid-template-columns: auto auto;
    grid-template-areas: "logo btn-mobile" "btn-switch btn-switch" "nav nav" "account account";
    gap: 3rem;

    .logo {
        grid-area: logo;
    }

    .btn-mobile {
        grid-area: btn-mobile;
    }

    .btn-switch {
        grid-area: btn-switch;
        justify-content: center;
    }

    .nav {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        text-align: center;
    }
}
