.change-page {
    color: var(--color-gray-900);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 2rem;
    gap: .5rem;

    a {
        margin: 0 .2rem;
        text-decoration: none;
        color: var(--color-gray-900);
        border-radius: .5rem;

        &:hover {
            background: var(--color-gray-500);
        }
    }

    .chevron-right, .chevron-left {
        font-size: .8rem;
        padding: .5rem;
    }

    .active {
        background-color: var(--color-theme);
        padding: .8rem;
        border-radius: .3rem;
    }

    .number {
        padding: 1rem;
    }
}
