@mixin button {
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 8px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-theme { 
    @include button;
    background: var(--color-theme);
    color: var(--color-white);
    border: none;

    &:hover {
        text-decoration: none;
        background: var(--color-gray-700);
        color: var(--color-gray-000);
    } 
}

.btn-theme-s {
    @include button;
    @include theme-shadow;
    background: var(--color-theme);
    color: var(--color-white);
    padding-top: 10px;
    padding-bottom: 13px;

    &:hover {
        @include theme-secondary-shadow;
        text-decoration: none;
        background: var(--color-gray-700);
        color: var(--color-gray-000);
    } 
}

.btn-gray { 
    @include button;
    background: var(--color-gray-200);
    color: var(--color-gray-800);
    border: none;

    &:hover {
        text-decoration: none;
        background: var(--color-gray-700);
        color: var(--color-gray-000);
    } 
}

.btn-switch {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
        @include text-nav;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 25px;
    
        & input { 
            opacity: 0;
            width: 0;
            height: 0;
    
            &:checked + .slider {
                background-color: var(--color-theme);
            }
            
            &:focus + .slider {
                box-shadow: 0 0 1px var(--color-theme);
            }
              
             &:checked + .slider:before {
                transform: translateX(20px);
                background-color: var(--color-gray-000);
            }
        }
    
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-gray-700);
            transition: .4s;
    
            &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 3px;
                bottom: 2.7px;
                background-color: var(--color-white);
                transition: .4s;
              }
    
            &.round {
                border-radius: 34px;
            }
            
            &.round:before {
                border-radius: 50%;
            }
    
        }
    }
}

.btn-social {
    @include text-xl;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 44px;
    height: 44px;
    background-color: var(--color-gray-200);
    color: var(--color-gray-900);

    &:hover {
        text-decoration: none;
        background: var(--color-gray-500);
        color: var(--color-white);
    } 
}

.btn-disabled {
    @include button;
    background: var(--color-gray-500);
    color: var(--color-black);
    border: none;
}

.btn-circle {
    background: white;
    border-radius: 50%;
    color: var(--color-black);
}