
.download {
    background-color: var(--color-gray-100);

    .container {
        background-color: var(--color-gray-200);


        @media(min-width: 550px) {
            display: flex;
        }

        @include md {
            display: flex;
            justify-content: center;
            gap: 4rem;
            padding: 2rem 0;
        }

        .app-img-container {
            .app-img {
                display: none;
                margin: 2rem 0;

                @include md {
                    display: block;
                    width: 100%;
                }
            }
        }

        .downloads {
            @include md {
                width: 66%;
            }

            @include lg {
                margin-top: 4rem;
            }

            @include xl {
                width: 35%;
            }

            h2 {
                margin: 2rem 0;

                @include md {
                    margin-bottom: 2rem;
                    width: 100%;
                }

                @include xl {
                    width: 80%;
                }

                @include xxl {
                    width: 70%;
                }
            }

            .content {
                text-align: center;

                @media(min-width: 450px) {
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                }

                @include md {
                    display: grid;
                    gap: 0;
                }
                @include lg {
                    justify-content: normal;
                }
                .app-store, .google-play {

                    @include md {
                        display: grid;
                        grid-template-columns: auto auto;
                    }

                    .google-play-content, .app-store-content {
                        margin-bottom: 1rem;

                        p {
                            color: var(--color-gray-600);
                            margin: 0;
                        }

                        .stars {
                            i {
                                color: var(--color-warning-dark);
                                margin-bottom: .5rem;

                                @include lg {
                                    font-size: .8rem;
                                }
                            }
                        }

                        h5 {
                            margin: 0;
                        }

                        .rating {
                            color: var(--color-gray-700);
                        }
                    }

                    .img-container {
                        @include md {
                            display: flex;
                            align-items: end;
                            margin-left: 2rem;
                            margin-top: 3.3rem;
                        }

                        @include lg {
                            margin-left: 0;
                        }

                        a {
                            &:hover {
                                opacity: .6;
                                transition: ease-in-out .2s;
                            }

                            img {
                                margin-bottom: 2.5rem;
                                margin-top: 1rem;
                                width: 30%;

                                @media(min-width: 450px) {
                                    width: 80%;
                                }

                                @include md {
                                    width: 100%;
                                }

                                @include lg {
                                    width: 70%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
