.error-page {
    color: var(--color-gray-900);

    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        align-items: center;
        margin-top: 10rem;
        img {
            width: 90%;
        }
        nav {
            a {
                margin-bottom: 5rem;
            }
        }
    }
}
