.manage-work {
    color: var(--color-gray-900);
    background: var(--color-000);
    margin: 2rem 0;
    .container {
        display: flex;
        flex-direction: row-reverse;

        @include lg {
            flex-direction: row;
            align-items: center;

        }

        @include xl {
            justify-content: space-around;
        }

        img {
            width: 50%;
            @include md {
                width: 50%;
            }
            @include lg {
                width: 65%;
            }

            @include xl {
                width: 55%;
            }
        }

        .content {

            @include lg {
                margin-left: 1.4rem;
            }

            h3 {
                font-weight: 900;
                margin-bottom: 2rem;
                /*border: solid red 1px;*/

                @include lg {
                    margin-top: 4rem;
                }

                @include xl {
                    margin-top: 0;
                }
            }

            p {
                i {
                    margin-right: .3rem;
                    color: var(--color-theme);
                }
            }

            .btn-theme {
                margin-top: 2rem;
                width: 100%;

                @include lg {
                    width: 50%;
                }
            }
        }
    }
}
