.news-letter {
    background: var(--color-gray-100);
    color: var(--color-gray-900);
    width: 100%;
    padding: 3rem 0;
    margin-top: 2rem;

    @include xxl {
        padding: 6rem 0;
    }

    .container {
        @include lg {
            display: grid;
            justify-content: center;
        }

        .header {
            display: relative;
            display: flex;
            justify-content: center;

            @include md {
                justify-content: start;
            }

            h2 {
                text-align: center;
                margin-bottom: 2rem;
            }

            img {
                display: none;

                @include md {
                    display: block;
                    margin-left: 1rem;
                }
            }
        }

        .content {
            .content-box {
                @include md {
                    display: flex;
                    grid-template-columns: auto auto;
                }
            }

            form {
                .header-checkbox {
                    display: flex;
                    flex-direction: column;

                    @include md {
                        flex-direction: row;
                    }

                    .sign-up {
                        h5 {
                            text-align: center;
                            margin-bottom: 1rem;

                            @include md {
                                width: 70%;
                                text-align: left;
                                @include h4;
                            }

                            @include lg {
                                margin: 0;
                                @include h5;
                            }
                        }
                    }

                    .box-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        justify-content: center;
                        gap: 1rem;

                        @include md {
                            grid-template-columns: auto auto;
                            margin-top: .3rem;
                            gap: .8rem;
                            margin-bottom: 2rem;
                        }

                        @include lg {
                            grid-template-columns: auto auto auto;
                        }

                        @include xxl {
                            margin-right: 3rem;
                        }

                        .box {
                            display: grid;
                            grid-template-columns: auto 1fr;
                            align-items: center;
                            border: none;
                            @include text-xs;
                            color: var(--color-gray-700);

                            @include md {
                                margin-left: 1rem;
                                /*@include text-s;*/
                            }

                            @include lg {
                                margin: 0;
                                margin-right: 2rem;
                            }

                            label {
                                margin-left: .5rem;
                                color: var(--color-gray-500);

                                @include md {
                                    @include text-xs;
                                }
                            }
                        }
                    }
                }

                .input-container {
                    margin-top: 1rem;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @include md {
                        margin-top: 0;
                        display: grid;
                        grid-template-columns: 1fr auto;
                        align-items: center;
                        gap: 1rem;
                    }

                    .fa-envelope {
                        position: absolute;
                        top: 1.87rem;
                        left: .8rem;
                        color: var(--color-gray-500);
                    }

                    input {
                        width: 100%;
                        margin-top: 1rem;
                        border-radius: .4rem;
                        border: solid var(--color-gray-400) 1px;
                        padding: .5rem;
                        margin-bottom: 1rem;
                        padding-left: 2.3rem;
                        color: var(--color-gray-600);
                        background: var(--color-gray-100);

                        &::placeholder {
                            color: var(--color-gray-500);
                        }
                    }

                    .error {
                        position: absolute;
                        top: -5%;
                        /*color: red;*/
                        @include md {
                            margin-right: 22%;
                            top: -15%;
                        }
                    }

                    .btn-theme {
                        width: 100%;
                        margin: .8rem 0;

                        @include md {
                            margin: 0;
                        }
                    }
                }
            }
        }

        p {
            @include text-xs;
            color: var(--color-gray-600);

            span {
                color: var(--color-gray-900);
                font-weight: 700;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}
