@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<section id="sign-in">
    <div class="container">
        <div class="sign-in-form">
            <form asp-controller="Auth" asp-action="SignIn"  novalidate>

                <h1>Welcome Back</h1>
                <p>Don't have an account yet? <a asp-controller="Auth" asp-action="SignUp" class="sign-up-here">Sign up here</a>.</p>

                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
                {
                    <div class="alerts alert-danger">
                        @ViewData["ErrorMessage"]
                    </div>
                }

                <div class="email">
                    <label asp-for="Form.Email"></label>
                    <span asp-validation-for="Form.Email"></span>
                    <input asp-for="Form.Email" class="form-input" type="email" />
                </div>
                <div class="password">
                    <label asp-for="Form.Password">Password</label>
                    <span asp-validation-for="Form.Password"></span>
                    <input asp-for="Form.Password" class="form-input" type="password" />
                </div>

                <div class="remember-me">
                    <input asp-for="Form.RememberMe" type="checkbox" />
                    <label class="text-s" asp-for="Form.RememberMe"></label>
                </div>

                <div class="sign-in">
                    <button class="btn-theme" type="submit" novalidate>Sign in</button>
                    <a class="text-s" href="#">Forgot your password?</a>
                    <div class="line"></div>
                    <h6>Or sign in with your social account</h6>
                    <div class="external-login">
                        <a class="btn-gray" asp-controller="Auth" asp-action="Google"><i class="fa-brands fa-google"></i>Google</a>

                        <a class="btn-gray" asp-controller="Auth" asp-action="Facebook"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@await Html.PartialAsync("~/Views/Shared/_ValidationScriptPartial.cshtml")