@model CoursesIndexViewModel

<div class="box-content">
    <div class="boxes" id="boxes">
        @foreach (var course in Model.Courses)
        {
           @await Html.PartialAsync("~/Views/Courses/Components/_CourseCardPartial.cshtml", course)
        }
    </div>
    @await Html.PartialAsync("~/Views/Courses/Components/_PaginationPartial.cshtml")
</div>